:root {
  --primary: rgb(23, 201, 246);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffff;
}

.aplikasi{
  background-color: rgba(127, 255, 212, 0.821);
  color: white;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin:30px auto;
  display: grid;
  place-items: center;
}

.aplikasi h4{
  margin: 5px auto;
}

.fibonacci-wrap {
  background-color: #aed9da;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 30px auto;
  display: grid;
  place-items: center;
}

.fibonacci-wrap h1 {
  color: white;
}


.fibonacci-wrap label {
  font-size: 18px;
  color: white;
}

.fibonacci-wrap input {
  width: 60px;
  padding: 5px;
  font-size: 16px;
}

.fibonacci-wrap button {
  padding: 8px 16px;
  font-size: 16px;
  background-color:  white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
  transition: background-color 0.2s;
}

.fibonacci-wrap button:hover {
  background-color: rgba(128, 128, 128, 0.445);
}

.fibonacci-wrap p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.fibonacci-wrap span {
  color: white;
  font-size: 20px;
}

.bangunRuang-wrap {
  background-color: #edb7ed;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 70%;
  margin: 16px auto;
  display: grid;
  place-items: center;
}

.bangunRuang-wrap button {
  padding: 8px 16px;
  font-size: 16px;
  margin-top: 8px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.bangunRuang-wrap button:hover {
  background-color: rgba(128, 128, 128, 0.445);
}

.bangunRuang-wrap h1 {
  color: white;
}

.bangunRuang-wrap p {
  font-weight: 700;
  color: white;
}

.bangunRuang-wrap label {
  color: white;
}

.ukuran input{
  height: 20px;
}

.ukuran label {
  display: block;
  color: white;
}


@media screen and (max-width: 768px) {
  .body {
    width: 100%;
    padding: 16px;
  }

  .bangunRuang-wrap h1 {
    font-size: 18px;
  }

  .bangunRuang-wrap .menu {
    font-size: 10px;
  }

  .bangunRuang-wrap button {
    font-size: 10px;
  }

  .bangunRuang-wrap p {
    font-size: 14px;
  }
  .bangunRuang-wrap .ukuran {
    font-size: 14px;
  }

  .bangunRuang-wrap .ukuran input {
    width: auto;
    box-sizing: border-box;
    font-size: 10px;
  }

  .bangunRuang-wrap label {
    font-size: 10px;
  }

  .fibonacci-wrap h1 {
    font-size: 18px;
  }

  .fibonacci-wrap label {
    font-size: 14px;
  }

  .fibonacci-wrap input {
    font-size: 12px;
  }

  .fibonacci-wrap button {
    font-size: 10px;
  }

  .fibonacci-wrap p {
    font-size: 14px;
  }
  .fibonacci-wrap span {
    font-size: 14px;
  }

  .ukuran input{
    height: 16px;
  }
}

@media screen and (max-width: 450px) {
  body {
    font-size: 55%;
  }

  .fibonacci-wrap button {
    margin-top: 8px;
  }
}

@media screen and (max-width: 1366px) {
  body {
    font-size: 75%;
  }
}
